disable_mlock = true
ui            = true

storage "mysql" {
  username = "{{VAULT_DATABASE_USERNAME}}"
  password = "{{VAULT_DATABASE_PASSWORD}}"
  database = "{{VAULT_DATABASE_NAME}}"
}

listener "tcp" {
 address     = "{{VAULT_IP}}:8200"
 tls_disable = "true"
}